.header_train_card_list {
    display: flex;
    justify-content: space-between;
    width: 959px;
    margin-bottom: 50px;
    align-items: center;
}

.routes_found {
    font-size: 1.8rem;
    font-weight: 400;
    color: #928F94;
}