.nav_bar {
    background-color: #292929;
}

.nav_bar ul {
    display: flex;
    gap: 4%;
    height: 9.4rem;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.nav_bar ul button {
    color: #fff;
    font-size: 3rem;
}

.nav_bar ul button:hover {
    color: #FFCA62;
}